@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    width: 50%;
    margin: auto;
    color: whitesmoke;
}

p {
    line-height: 1.2;
}

header {
    text-align: center;
    margin: 0; 
    background-color: #352b24;
    box-sizing: border-box;
    position: relative;
    padding-top: 15px;
}

header h1 {
    margin: 0;
    padding: 10px 0; 
}

main {
    height: 100vh;
    background-color: #836855;
    margin: 0; 
    box-sizing: border-box;
    position: relative; 
    top: -1px; 
    padding: 12px;
    padding-top: 0px;
}

main h2 {
    margin: 0; 
    padding: 15px 0; 
}

nav {
    padding: 10px 0px;
    scroll-behavior: smooth;
    overflow-x: scroll;
    white-space: nowrap;
    box-sizing: border-box;
    text-align: left;
    color: white;
}

.item {
    display: flex;
    height: 150px;
    width: fit-content;
    margin-bottom: 10px;
    background-color: #f4f4f480;
    border-radius: 15px;
    color: black;
}

.itemdesc {
    margin: 0 15px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px; 
}

.itemdesc p {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 5px;
    margin-top: 5px;
}

.itemdesc h3 {
    margin-bottom: 0;
    margin-top: 0;
}

.itemdesc span {
    color: #0000009d;
}

.item img {
    height: 150px;
    width: 150px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

footer {
    background-color: #352b24;
    color: seashell;
    text-align: center;
    position: relative;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

a {
    color: seashell;
    text-decoration: none;
    padding: 10px 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: background-color 0.3s ease;
    
}

a:hover {
    background-color: #83685577;
    transition: background-color 0.3s ease;
}

a.active {
    background-color: #836855;
}

.basket {
    background: #352b24;
    border-radius: 100%;
    border: none;
    padding: 15px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    z-index: 1000;
    width: 50px;
    height: 50px;
}

.basketcount {
    background-color: seashell;
    padding: 5px;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basketcount span {
    font-size: 12px;
    color: black;
}