@media screen and (max-width: 600px) {
    body {
        width: 100%;
        font-size: 15px;
    }

    .item {
        display: flex;
        height: 100px;
        width: fit-content;
    }

    .itemdesc {
        font-size: 12px;
    }

    .itemdesc h3 {
        margin-top: 0px;
    }

    .itemdesc span {
        color: #0000009d;
    }
    
    .item img {
        height: 100%;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    
}